<div class="adminwrappercls">
    <app-adminheader></app-adminheader>
    <!-- <div id="beadcamb">

    </div> -->
    <mat-card class="breadcrumbs-top" *ngIf="cookieUserallData.type=='admin'">
        <h3 class="page-header-title">Welcome <span>Sourav Ghatak</span></h3>
        <mat-card-content class="breadcrumb-wrapper">
          <mat-list class="breadcrumb">
            <mat-list-item class="breadcrumb-item"><a [routerLink]="['/dashboard']"><span class="material-icons">home</span></a></mat-list-item>
            <mat-list-item class="breadcrumb-item"><a [routerLink]="['/admin/order/list']">Order List</a></mat-list-item>
            <!-- <mat-list-item class="breadcrumb-item active">{{header_text}}</mat-list-item> -->
          </mat-list>
        </mat-card-content>
      </mat-card>

    <div id="maincontent">
      <div class="main-content-wrap">
        <mat-card class="generalcls" style="padding: 0 !important;">
        <span class="AddEditBlog">
          <h1>{{header_text}} </h1>    
          <span class="formspan">
          <mat-card-content class="example-container">
            <!-- <form class="formcls" novalidate [formGroup]="orderEditform">    -->
          <span class="formcls">
            <mat-label>Name</mat-label>
            <span class="mat-form-field spanpadding">
                {{orderData[0].user_info.firstname}} {{orderData[0].user_info.lastname}}
            </span>
           
            <!-- <mat-form-field >
                <input matInput placeholder="User" [formControl]="orderEditform.controls['username']">
                <mat-error *ngIf="orderEditform.controls['username'].touched && !orderEditform.controls['username'].valid && orderEditform.controls['username'].errors.required">User name field can not be blank</mat-error>
            </mat-form-field> -->
            <mat-label>Order Id</mat-label>
            <span class="mat-form-field spanpadding">
                OD{{orderData[0]._id}}
            </span>
            <!-- <mat-form-field >
                <input matInput placeholder="Order Id" [formControl]="orderEditform.controls['orderid']">
                <mat-error *ngIf="orderEditform.controls['orderid'].touched && !orderEditform.controls['orderid'].valid && orderEditform.controls['orderid'].errors.required">Order ID field can not be blank</mat-error>
            </mat-form-field> -->

            <mat-label>Order Status</mat-label>
            <span class="mat-form-field spanpadding">
                {{orderData[0].order_status}}
            </span>
            <!-- <mat-form-field >
               
            <input matInput placeholder="Order Status" [formControl]="orderEditform.controls['orderstatus']">
         <mat-error *ngIf="orderEditform.controls['orderstatus'].touched && !orderEditform.controls['orderstatus'].valid && orderEditform.controls['orderstatus'].errors.required">Order status field can not be blank</mat-error> 
            </mat-form-field> -->

            <mat-label>PAYMENT STATUS </mat-label>
            <span class="paymentstatuswrapper">
                <mat-list class="paymentstatus">
                    <mat-list-item> <span>Void</span> <button type="button" class="singleButton btnred" mat-raised-button (click)="voidtransaction();">Void Order</button> </mat-list-item>

                    <mat-list-item> <span>Refund</span> <button class="singleButton btnblue" mat-raised-button type="button" (click)="refundOrder();">Refund Order</button> </mat-list-item>

                    <mat-list-item> <span>Resend Order Receipt</span> <button class="singleButton btngreen" mat-raised-button type="button">Send</button> </mat-list-item>
                </mat-list>            
            </span>

            <!-- <mat-label>Date Added </mat-label>
            <mat-form-field >
                <input matInput placeholder="Date Added" [formControl]="orderEditform.controls['dateadded']">
                <mat-error *ngIf="orderEditform.controls['dateadded'].touched && !orderEditform.controls['dateadded'].valid && orderEditform.controls['dateadded'].errors.required">Date added field can not be blank</mat-error>
            </mat-form-field>
            <mat-label>Order Source </mat-label>
            <mat-form-field >
                <input matInput placeholder="Order Source" [formControl]="orderEditform.controls['ordersource']">
                <mat-error *ngIf="orderEditform.controls['ordersource'].touched && !orderEditform.controls['ordersource'].valid && orderEditform.controls['ordersource'].errors.required">Order source field can not be blank</mat-error>
            </mat-form-field> -->
            
            <mat-label>Contents </mat-label>
            <span class="contentsblock"> 
                <table mat-table [dataSource]="orderData" class="mat-elevation-z8">  
                    <!-- Product Code column-->
                    <ng-container matColumnDef="productcode">
                        <th mat-header-cell *matHeaderCellDef> Transaction Type </th>
                        <td mat-cell><mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox></td>
                        <td mat-cell *matCellDef="let element" data-label="Transaction Type"> {{element.transactiontype}} </td>
                         <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <!-- Product column-->
                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef> Product </th>
                        <td mat-cell><mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox></td>
                        <td mat-cell *matCellDef="let element" data-label="Product"> {{element.product_name}} </td>
                         <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                    <!-- QTY column-->
                    <ng-container matColumnDef="qty">
                        <th mat-header-cell *matHeaderCellDef> QTY </th>
                        <td mat-cell><mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox></td>
                        <td mat-cell *matCellDef="let element" data-label="QTY"> {{element.product_qty}} </td>
                        <td mat-footer-cell *matFooterCellDef> </td>
                    </ng-container>

                   <!-- Unit Price column-->
                    <ng-container matColumnDef="unitprice">
                        <th mat-header-cell *matHeaderCellDef> Price </th>
                        <td mat-cell><mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox></td>
                        <td mat-cell *matCellDef="let element" data-label="Price"> {{element.product_price}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>

                   <!-- total Amount column-->
                    <ng-container matColumnDef="total">
                        <th mat-header-cell *matHeaderCellDef> Total </th>
                        <td mat-cell><mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox></td>
                        <td mat-cell *matCellDef="let element" data-label="Total"> {{element.product_total}} </td>
                         <td mat-footer-cell *matFooterCellDef data-label="Total">{{orderData[0].product_total}} </td>
                    </ng-container>
                    
                    <!-- empty footer column-->
                    <ng-container matColumnDef="emptyFooter">
                        <td mat-footer-cell *matFooterCellDef class="mobile-hide"></td>
                    </ng-container>

                    <!-- subtotal column -->
                    <ng-container matColumnDef="subtotalTitle">  
                        <td mat-footer-cell *matFooterCellDef>
                            <span class="mobile-label">subtotal</span>
                        </td>                            
                    </ng-container>
                    <ng-container matColumnDef="subtotalAmount">                           
                        <td mat-footer-cell *matFooterCellDef data-label="subtotal">
                            <span class="mobile-value">{{orderData[0].product_subtotal}}</span>
                        </td>                            
                    </ng-container>

                    <!-- shippingandhandling column -->
                    <ng-container matColumnDef="shippingandhandlingTitle">  
                        <td mat-footer-cell *matFooterCellDef>
                            <span class="mobile-label">shipping and handling</span>
                        </td>                            
                    </ng-container>
                    <ng-container matColumnDef="shippingandhandlingAmount">                           
                        <td mat-footer-cell *matFooterCellDef data-label="shipping and handling">
                            <span class="mobile-value">{{orderData[0].shipping_charge}}</span>
                        </td>                            
                    </ng-container>

                    <!-- tax column -->
                    <ng-container matColumnDef="taxTitle">  
                        <td mat-footer-cell *matFooterCellDef>
                            <span class="mobile-label">Tax</span>
                        </td>                            
                    </ng-container>                    
                    <ng-container matColumnDef="taxAmount">                           
                        <td mat-footer-cell *matFooterCellDef data-label="Tax">
                            <span class="mobile-value">{{orderData[0].sale_tax}}</span>
                        </td>                            
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedcontentsColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedcontentsColumns;"></tr>  
                    <!-- MultiFooter column-->            
                    <tr mat-footer-row *matFooterRowDef="displayedSubTotalColumns"></tr>  
                    <tr mat-footer-row *matFooterRowDef="displayedShippingandHandlingColumns"></tr>  
                    <tr mat-footer-row *matFooterRowDef="displayedTaxColumns"></tr>  
                    <tr mat-footer-row *matFooterRowDef="displayedcontentsColumns"></tr>                

                </table>
               
            </span>
            <!-- <mat-label>Billing Profile </mat-label>
            <mat-form-field >
                <input matInput placeholder="Billing Profile" [formControl]="orderEditform.controls['billingprofile']">
                <mat-error *ngIf="orderEditform.controls['billingprofile'].touched && !orderEditform.controls['billingprofile'].valid && orderEditform.controls['billingprofile'].errors.required">Billing profile field can not be blank</mat-error>
            </mat-form-field> -->

            <span class="addressblock"> 
                <span class="addressingle">     
                    <mat-label>Billing Address </mat-label>
                    <mat-list>
                        <mat-list-item> <span>Billing Name</span>{{orderData[0].billing_name}} </mat-list-item>
                        <!-- <mat-list-item> <span>Last Name</span> Test </mat-list-item> -->
                        <!-- <mat-list-item> <span>Company</span>  </mat-list-item> -->
                        <mat-list-item><span>Address</span>  {{orderData[0].billing_address}}</mat-list-item>
                        <!-- <mat-list-item> <span>Address Line 2</span>  </mat-list-item> -->
                        <mat-list-item> <span>City</span> {{orderData[0].billing_city}} </mat-list-item>
                        <mat-list-item> <span>State</span> {{orderData[0].billing_state}} </mat-list-item>
                        <mat-list-item> <span>Country</span> {{orderData[0].billing_country}} </mat-list-item>
                        <mat-list-item> <span>Postal Code</span>  {{orderData[0].billing_postal}}</mat-list-item>
                        <!-- <mat-list-item> <span>Email</span></mat-list-item> -->
                        <mat-list-item> <span>Phone</span> {{orderData[0].billing_phone}} </mat-list-item>
                        <!-- <mat-list-item> <span>District</span>  </mat-list-item> -->
                    </mat-list>
                </span>
                <span class="addressingle"> 
                    <mat-label>Shipping Address </mat-label>
                    <mat-list>
                        <mat-list-item> <span>Shipping Name</span>{{orderData[0].shipping_name}} </mat-list-item>
                        <!-- <mat-list-item> <span>Last Name</span> Test </mat-list-item> -->
                        <!-- <mat-list-item> <span>Company</span>  </mat-list-item> -->
                        <mat-list-item> <span>Address</span>  {{orderData[0].shipping_address}}</mat-list-item>
                        <!-- <mat-list-item> <span>Address Line 2</span>  </mat-list-item> -->
                        <mat-list-item> <span>City</span>{{orderData[0].shipping_city}}  </mat-list-item>
                        <mat-list-item> <span>State</span> {{orderData[0].shipping_state}} </mat-list-item>
                        <mat-list-item> <span>Country</span>{{orderData[0].shipping_country}}  </mat-list-item>
                        <mat-list-item> <span>Postal Code</span> {{orderData[0].shipping_postal}} </mat-list-item>
                        <!-- <mat-list-item> <span>Address Key</span>  </mat-list-item> -->
                        <!-- <mat-list-item> <span>Shipping Notes</span>  </mat-list-item> -->
                        <mat-list-item> <span>Phone</span>  {{orderData[0].shipping_phone}}</mat-list-item>
                        <!-- <mat-list-item> <span>District</span>  </mat-list-item> -->
                    </mat-list>
                </span>
                <span class="addressingle"> 
                    <mat-label>Card Information</mat-label>
                    <mat-list>
                        <mat-list-item> <span>Card Number</span> ************{{orderData[0].card_cc}} </mat-list-item>
                        <!-- <mat-list-item> <span>Card Exp Mo</span> 01/2021  </mat-list-item> -->
                        <mat-list-item> <span>Card Type</span> {{orderData[0].card_type}} </mat-list-item>
                        <!-- <mat-list-item> <span>Card Name</span>  </mat-list-item>
                        <mat-list-item> <span>Currency Code</span>  </mat-list-item>
                        <mat-list-item> <span>Card Phone</span>  </mat-list-item>
                        <mat-list-item> <span>Anxpro Username</span>  </mat-list-item>
                        <mat-list-item> <span>Anxpro Password</span>  </mat-list-item> -->
                    </mat-list>
                </span>

            </span>
            
        


            <mat-label>TRANSACTIONS </mat-label>
            <span class="contentsblock"> 
                <table mat-table [dataSource]="transactiondataSource" class="mat-elevation-z8">

                    <!-- Txn ID column-->
                    <ng-container matColumnDef="trid">
                        <th mat-header-cell *matHeaderCellDef> Txn ID </th>
                         <td mat-cell *matCellDef="let element" data-label="Txn ID"> {{element.trid}} </td>
                    </ng-container>

                    <!-- Merchant ID column-->
                    <ng-container matColumnDef="marcntID">
                        <th mat-header-cell *matHeaderCellDef> Merchant ID </th>
                        <td mat-cell *matCellDef="let element" data-label="Merchant ID"> {{element.marcntID}} </td>
                    </ng-container>

                    <!-- Type column-->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type </th>
                        <td mat-cell *matCellDef="let element" data-label="Type"> {{element.type}} </td>
                    </ng-container>
                    <!-- Date/Time column-->
                    <ng-container matColumnDef="datetime">
                        <th mat-header-cell *matHeaderCellDef> Date/Time </th>
                        <td mat-cell *matCellDef="let element" data-label="Date/Time"> {{element.datetime}} </td>
                    </ng-container>
                    <!-- Approval column-->
                    <ng-container matColumnDef="approval">
                        <th mat-header-cell *matHeaderCellDef> Approval </th>
                        <td mat-cell *matCellDef="let element" data-label="Approval"> {{element.approval}} </td>
                    </ng-container>
                    <!-- Authorization Code column-->
                    <ng-container matColumnDef="authorizationsode">
                        <th mat-header-cell *matHeaderCellDef> Authorization Code </th>
                        <td mat-cell *matCellDef="let element" data-label="Authorization Code"> {{element.authorizationsode}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="transactiondisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: transactiondisplayedColumns;"></tr>       

                </table>
            </span>
            </span>
            <!-- </form> -->
          </mat-card-content>
          </span>
          </span>
        </mat-card>
      </div>
    </div>    
</div>
<app-footer></app-footer>
