<span class="searchblock">
    <span class="searchblockwrapper">
        <span>
<mat-toolbar color="primary" style="justify-content: center; align-items: center;">
    <h2 class="headerSpan"></h2>
</mat-toolbar>
        </span>
    </span>
</span>
<div>
    <form  class="example-full-width" novalidate [formGroup]="orderEditform" >
        <mat-form-field >
            <input matInput placeholder="Order Id" [formControl]="orderEditform.controls['orderid']">
            <mat-error *ngIf="orderEditform.controls['orderid'].touched && !orderEditform.controls['firstname'].valid
                       && orderEditform.controls['orderid'].errors.required">
                       Order ID field can not be blank</mat-error>
        </mat-form-field><br>


        <mat-form-field >
            <input matInput placeholder="Username" [formControl]="orderEditform.controls['username']">
            <mat-error *ngIf="orderEditform.controls['username'].touched && !orderEditform.controls['username'].valid
                       && orderEditform.controls['username'].errors.required">
                       Username field can not be blank</mat-error>
        </mat-form-field><br>
        <mat-form-field >
            <input matInput placeholder="productname" [formControl]="orderEditform.controls['productname']">
            <mat-error *ngIf="orderEditform.controls['productname'].touched && !orderEditform.controls['productname'].valid
                       && orderEditform.controls['productname'].errors.required">
                       productname field can not be blank</mat-error>
        </mat-form-field><br>
        <mat-form-field >
            <input matInput placeholder="tax" [formControl]="orderEditform.controls['tax']">
            <mat-error *ngIf="orderEditform.controls['tax'].touched && !orderEditform.controls['tax'].valid
                       && orderEditform.controls['tax'].errors.required">
                       tax field can not be blank</mat-error>
        </mat-form-field><br>
        <mat-form-field >
            <input matInput placeholder="productquantity" [formControl]="orderEditform.controls['productquantity']">
            <mat-error *ngIf="orderEditform.controls['productquantity'].touched && !orderEditform.controls['productquantity'].valid
                       && orderEditform.controls['productquantity'].errors.required">
                       productquantity field can not be blank</mat-error>
        </mat-form-field><br>
        <mat-form-field >
            <input matInput placeholder="productprice" [formControl]="orderEditform.controls['productprice']">
            <mat-error *ngIf="orderEditform.controls['productprice'].touched && !orderEditform.controls['productprice'].valid
                       && orderEditform.controls['productprice'].errors.required">
                       productprice field can not be blank</mat-error>
        </mat-form-field><br>
        <mat-form-field >
            <input matInput placeholder="subtotal" [formControl]="orderEditform.controls['subtotal']">
            <mat-error *ngIf="orderEditform.controls['subtotal'].touched && !orderEditform.controls['subtotal'].valid
                       && orderEditform.controls['subtotal'].errors.required">
                       subtotal field can not be blank</mat-error>
        </mat-form-field><br>
        <mat-form-field >
            <input matInput placeholder="shipping" [formControl]="orderEditform.controls['shipping']">
            <mat-error *ngIf="orderEditform.controls['shipping'].touched && !orderEditform.controls['shipping'].valid
                       && orderEditform.controls['shipping'].errors.required">
                       shipping field can not be blank</mat-error>
        </mat-form-field><br>
        <mat-form-field >
            <input matInput placeholder="total" [formControl]="orderEditform.controls['total']">
            <mat-error *ngIf="orderEditform.controls['total'].touched && !orderEditform.controls['total'].valid
                       && orderEditform.controls['total'].errors.required">
                       total field can not be blank</mat-error>
        </mat-form-field><br>
    </form>
</div>