.scroll-to-top{position:fixed;bottom:20px;right:30px;z-index:999999;border:none;outline:none;background-color:#fb4a32;color:#fff;cursor:pointer;padding:5px 8px;border-radius:0;font-size:18px;opacity:0;transition:all .2s ease-in-out}
.scroll-to-top a{color:#fff!important}
.scroll-to-top:hover{background-color:#222224}
.show-scrollTop{opacity:1;transition:all .2s ease-in-out}

.footerblock.mat-card{
    text-align: center;
    color: #777777;
    padding: 10px 0;
    background: #2e363f;
    border-radius: 0;
}
.footerblock.mat-card p{margin-bottom: 0 !important;}