<mat-card class="admcls">
  <mat-toolbar class="header">
    <mat-toolbar-row class="toolbar-row">
      <div class="logo">
        <!-- <img src="assets/images/logo.png" alt=""> -->
        <h2><span class="virus">Virus</span> <span class="barrier">Barrier</span> <span class="medical">Medical</span></h2>
      </div>      
      <div class="topmenulist">       
      
        <mat-list class="navigation-left">
          <mat-list-item class="nav-item">
            <a mat-menu-item routerLinkActive="activemenu">
              <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </a>
          </mat-list-item>
  
          <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
            <a mat-menu-item routerLinkActive="activemenu">
              Dashboard
            </a>
          </mat-list-item>          
  
          <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
            <a [routerLink]="['/admin/list']">Admin Management</a>
          </mat-list-item>
          <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
            <a [routerLink]="['/admin/user-management']">User Management</a>
          </mat-list-item>
          <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
            <a>Order Management</a>
          </mat-list-item>
          <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
            <a><span class="material-icons">account_circle</span> My Account</a>
          </mat-list-item>
          <mat-list-item fxFlex class="nav-item" routerLinkActive="activemenu">
            <a (click)="logout()"><span class="material-icons">exit_to_app</span> Logout</a>
          </mat-list-item>
        </mat-list>
      </div>      
    </mat-toolbar-row>
  </mat-toolbar>
  
</mat-card>

  
