<app-adminheader></app-adminheader>
<button [routerLink]="['/user/add']">ADD User</button>
<lib-listing class="DataTable" *ngIf="userDataarray.length>0" [datasource]="userDataarray"
    [skip]="allUserData_skip" [detail_skip_array]="previewModal_skip"
    [modify_header_array]="allUserData_modify_header" [apiurl]="apiUrl" [sourcedata]="tableName" [editroute]="editUrl"
    [jwttoken]="user_cookie" [statusarr]="status" [updateendpoint]="UpdateEndpoint" [deleteendpoint]="deleteEndpoint"
    [date_search_endpoint]="SearchingEndpoint" [date_search_source]="SearchingSourceName"
    [search_settings]="search_settings">
  </lib-listing>
  <h2 *ngIf="userDataarray.length == 0">No record found.</h2>
  <app-footer></app-footer>