<app-adminheader></app-adminheader>
<!-- <button [routerLink]="['/user/add']">ADD User</button> -->
<lib-listing *ngIf="userDataarray!=null && userDataarray.length>0" 
  [datasource]="userDataarray"
  [skip]="pendingmodelapplicationarray_skip" 
  [modify_header_array]="modify_header_array" 
  [apiurl]="apiUrl" 
  [deleteendpoint]="deleteendpoint" 
  [updateendpoint]="updateendpoint" 
  [jwttoken]="user_cookie" 
  [date_search_source]="date_search_source"
  [date_search_endpoint]="date_search_endpoint"
  [sourcedata]="tablename"  
  [statusarr]="status" 
  [detail_datatype]="pendingmodelapplicationarray_detail_datatype"
  [editroute]="editroute"
  [detail_skip_array]="pendingmodelapplicationarray_detail_skip" 
  [search_settings]="search_settings"
  [searchendpoint]="searchendpoint"
  [sortdata]="sortdata"
          [datacollection]="datacollection"
          [date_search_source_count]="date_search_source_count"
          [limitcond]="limitcond"></lib-listing>
<h2 *ngIf="userDataarray.length == 0">No record found.</h2>
<app-footer></app-footer>