<div class="adminwrappercls">
    <app-adminheader></app-adminheader>
    <div id="beadcamb">

    </div>
    <div id="maincontent">
      <div class="main-content-wrap generalcls">
        <mat-card class="countdiv" style="padding: 0 !important;">
          <mat-card class="bg-cyan box-shadow" *ngIf="cookieUserallData.type=='admin'">
            <span class="content">
              <mat-card-title>Users</mat-card-title>
              <mat-card-subtitle>{{adminCount.user_list}}</mat-card-subtitle>
            </span>
            <span class="icon">
              <i class="material-icons">person_add</i>
            </span>
            
          </mat-card>

          <mat-card class="bg-light-green box-shadow" *ngIf="cookieUserallData.type=='admin'">
            <span class="content">
              <mat-card-title>Successfull Order</mat-card-title>
              <mat-card-subtitle>{{adminCount.order_success_list}}</mat-card-subtitle>
            </span>
            <span class="icon">
              <i class="material-icons">playlist_add_check</i>
            </span>
          </mat-card>

          <mat-card class="bg-pink box-shadow" *ngIf="cookieUserallData.type=='admin'">
            <span class="content">
              <mat-card-title>Transaction failed</mat-card-title>
              <mat-card-subtitle>{{adminCount.order_failed_list}}</mat-card-subtitle>
            </span>
            <span class="icon">
              <i class="material-icons">eject</i>
            </span>
          </mat-card>


          <mat-card class="bg-orange box-shadow" *ngIf="cookieUserallData.type=='admin'">
            <span class="content">
              <mat-card-title>Autoship Ordered</mat-card-title>
            <mat-card-subtitle>{{adminCount.order_autoship}}</mat-card-subtitle>
            </span>
            <span class="icon">
              <i class="material-icons">add_shopping_cart</i>
            </span>     

          </mat-card>

          <mat-card class="bg-deep-blue box-shadow" *ngIf="cookieUserallData.type=='admin'">
            <span class="content">
              <mat-card-title>Transaction Test </mat-card-title>
              <mat-card-subtitle>{{adminCount.transaction_type_test}}</mat-card-subtitle>
            </span>
            <span class="icon">
              <i class="material-icons">credit_card</i>
            </span>            
          </mat-card>

          <mat-card class="bg-deep-green box-shadow" *ngIf="cookieUserallData.type=='admin'">
            <span class="content">
              <mat-card-title>Transaction Live </mat-card-title>
            <mat-card-subtitle>{{adminCount.transaction_type_live}}</mat-card-subtitle>
            </span>
            <span class="icon">
              <i class="material-icons">card_membership</i>
            </span>            
          </mat-card>

        </mat-card>
        <mat-card *ngIf="cookieUserallData.type=='admin'">
          <div class="content_header_wrapper">
            <h2 class="headerSpan" *ngIf="cookieUserallData.type=='admin'">Order Details</h2>                     
          </div>
         
        <div class="listingnewstyle">
          <lib-listing class="animated" *ngIf="orderDataList!=null && orderDataList.length>0" 
            [datasource]="orderDataList"
            [skip]="orderDataList_skip"
            [modify_header_array]="modify_header_array"
            [apiurl]="apiurl"
            [updateendpoint]="updateendpoint"
            [date_search_source]="date_search_source"
            [date_search_endpoint]="date_search_endpoint"
            [sourcedata]="tablename"
            [detail_datatype]="orderDataList_detail_datatype"
            [editroute]="editroute"
            [statusarr]="statusarray"
            [detail_skip_array]="orderDataList_detail_skip"
            [url]="custom_link"
            [jwttoken]="jwttoken"
            [search_settings]="search_settings"
            [searchendpoint]="searchendpoint"
            [sortdata]="sortdata"
            [datacollection]="datacollection"
            [date_search_source_count]="date_search_source_count"
            [limitcond]="limitcond"></lib-listing>
            </div>
          </mat-card>
          <!-- user section html start here -->
          <h3 *ngIf="cookieUserallData.type=='user'">Welcome User</h3>
      </div>
    </div>    
</div>
<app-footer></app-footer>