<div class="adminwrappercls">
<app-adminheader></app-adminheader>
<mat-card class="breadcrumbs-top">
    <h3 class="page-header-title" *ngIf="cookieUserallData.type=='admin'">Welcome <span>{{cookieUserallData.firstname}} {{cookieUserallData.lastname}}</span></h3>
    <h3 class="page-header-title" *ngIf="cookieUserallData.type=='user'">Welcome <span>{{cookieUserallData.firstname}} {{cookieUserallData.lastname}}</span></h3>
    <mat-card-content class="breadcrumb-wrapper" *ngIf="cookieUserallData.type=='admin'">
      <mat-list class="breadcrumb">
        <mat-list-item class="breadcrumb-item"><span class="material-icons">home</span></mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-content class="breadcrumb-wrapper" *ngIf="cookieUserallData.type=='user'">
      <mat-list class="breadcrumb">
        <mat-list-item class="breadcrumb-item"><span class="material-icons">home</span></mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <div id="maincontent">
    <div class="main-content-wrap">
      <mat-card class="generalcls" style="padding: 0 !important;">
        <div class="content_header_wrapper">
            <h2 class="headerSpan">Autoships</h2>
           
        </div>
          
          <div class="listingnewstyle">
           
                <lib-listing class="animated" *ngIf="UpcomingAutolist!=null && UpcomingAutolist.length>0" 
                  [datasource]="UpcomingAutolist"
                  [skip]="upcoming_UpcomingAutolist_skip"
                  [modify_header_array]="modify_header_array"
                  [apiurl]="apiurl"
                  [updateendpoint]="updateendpoint"
                  [deleteendpoint]="deleteEndpoint"
                  [date_search_source]="date_search_source"
                  [date_search_endpoint]="date_search_endpoint"
                  [sourcedata]="tablename"
                  [detail_datatype]="orderDataList_detail_datatype"
                  [editroute]="editroute"
                  [statusarr]="upcoming_orderStatus"
                  [detail_skip_array]="upcoming_UpcomingAutolist_detail_skip"
                  [url]="custom_link"
                  [jwttoken]="jwttoken"
                  [search_settings]="upcoming_search_settings"
                  [searchendpoint]="searchendpoint"
                  [sortdata]="upcoming_sortdata"
                  [datacollection]="upcoming_datacollection"
                  [date_search_source_count]="upcoming_search_source_count"
                  [limitcond]="upcoming_limitcond">
                </lib-listing>
          </div>

      </mat-card>
    </div>
  </div> 
  </div>  
<app-footer></app-footer>

