.login_wrapper{background:url(../images/background.jpg) no-repeat!important;background-position:center center!important;background-size:cover!important;height:100%;display:flex!important;align-items:center;justify-content:center;padding: 0 !important;}
.logowrapper{margin:0 auto;display:block;text-align:center;background:#f5f5f5;border-bottom-right-radius:150px}
.from{width:auto!important;margin:0 auto}
.userimage{bottom:0;right:-58%;position:absolute;z-index:98;height:auto;width:440px;overflow:hidden}
.userimage img{height: auto;width: 100%;}
.login_lib_wrapper{width:700px;position:relative;margin-bottom:0!important}
.loginimgright{position: absolute; right: 0; bottom: 0; height: 100vh;}

.from{width:100%!important;margin:0 auto;text-align:center}
.from.mat-card{background-color:rgba(0,0,0,0.6)}
.content_wrapper .example-container button{background:linear-gradient(45deg,#1f6dc1,#15538a)!important;font-size:20px;text-transform:uppercase;padding:5px}
.login_lib_wrapper .from h2{color:var(--c-t-bg-w);background:transparent!important;font-family:var(--main-black-font);font-size:80px;margin:0;margin-bottom:30px;display:inline-block;text-transform: uppercase;text-shadow: 0px 1px 9px rgba(0,0,0,0.81);}
.login_lib_wrapper .example-container{display:flex;flex-direction:column;box-shadow:none;padding: 0px 16px 30px 16px;}
.login_lib_wrapper .example-container button{background: -moz-linear-gradient(270deg, rgba(25,198,254,1) 0%, rgba(2,168,222,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(25,198,254,1)), color-stop(100%, rgba(2,168,222,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(25,198,254,1) 0%, rgba(2,168,222,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(25,198,254,1) 0%, rgba(2,168,222,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(25,198,254,1) 0%, rgba(2,168,222,1) 100%); /* ie10+ */
  background: linear-gradient(180deg, rgba(25,198,254,1) 0%, rgba(2,168,222,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19c6fe', endColorstr='#02a8de',GradientType=0 ); /* ie6-9 */margin-top:34px;font-family:var(--main-black-font);text-transform:uppercase;padding: 7px 10px 12px;border-radius: 0;line-height: 30px;font-size: 30px;}


.main_wrapper{padding:0!important;box-shadow:none!important}


.bred_cram_wrapper{background:#dde2e5;display:flex!important;padding:8px}
.bred_cram_wrapper a{background:#b5bdbf;background:#b5bdbf;display:flex!important;color:#252525;padding:8px 20px;text-decoration:none;margin:0;justify-content:stretch;font-size:18px;text-transform:capitalize;cursor:pointer;font-family:"HelveticaRegular"}
.activebread{background:var(--c-t-bg-w)!important;color:var(--c-t-bg-zblack)!important;position:relative}
.activebread::before{content:'';width:15px;height:100%;background:#b5bdbf;display:inline-block;position:absolute;top:0;left:0;clip-path:polygon(0 0,0% 100%,100% 50%)}
.activebread::after{content:'';width:15px;height:100%;background:var(--c-t-bg-w);display:inline-block;position:absolute;right:-15px;top:0;clip-path:polygon(0 0,0% 100%,100% 54%)}
tr.mat-header-row{background:var(--c-t-alt-links)}
.mat-sort-header-button{text-transform:uppercase}
th.mat-header-cell{color:var(--c-t-sub-primary);text-transform:uppercase;font-family:"AvenirRoman";font-size:16px}
tr td br{display:none}
td.mat-cell{color:#465157;font-family:"AvenirLight"}


.mat-paginator{background:#105d9f!important;color:var(--c-t-bg-w)!important}
.mat-button.mat-accent[disabled],.mat-button.mat-primary[disabled],.mat-button.mat-warn[disabled],.mat-button[disabled][disabled],.mat-icon-button.mat-accent[disabled],.mat-icon-button.mat-primary[disabled],.mat-icon-button.mat-warn[disabled],.mat-icon-button[disabled][disabled],.mat-stroked-button.mat-accent[disabled],.mat-stroked-button.mat-primary[disabled],.mat-stroked-button.mat-warn[disabled],.mat-stroked-button[disabled][disabled]{color:var(--c-t-bg-w)!important}
.priceMark .searchdiv:last-child,.priceMark .cursor:last-child,.priceMark .cursor:nth-of-type(3){display:none}
.mat-paginator-page-size-select{color:var(--c-t-bg-w)}


.images{position:relative;margin-bottom:0!important}
.images img{max-width:100%}

.searchmainwrapper .mat-form-field .mat-form-field-wrapper{padding-bottom:0}
.searchwrapper .mat-form-field-infix button{background:no-repeat;border:0;border-left:1px solid #566075}
.searchwrapper .mat-form-field-infix .mat-form-field-label-wrapper .mat-form-field-label{transition:inherit;transform:inherit!important;padding-left:5px}
.searchwrapper .mat-form-field-infix{display:flex;width:324px;border:1px solid #d6d6d6;padding:0 5px!important;align-items:center;border-radius:5px}
.searchwrapper .mat-form-field-infix input{height:35px}
.searchwrapper .mat-form-field-flex .mat-datepicker-toggle{position:absolute;right:7px;top:2px}
.searchwrapper .mat-form-field-appearance-legacy .mat-form-field-underline{display:none}
.mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty{display:block!important}
.searchwrapper .mat-form-field-label.ng-star-inserted{display:none!important}


.formmainwrapper .file_uploader .inner_wrapper .imageupload .uploadfilecontainer{height:100%;width:100%}
.formmainwrapper .my_details_wrapper .mydetails_form_wrapper .forms .mat-form-field .mat-form-field-flex{background:none;padding:0!important}
.inputstyle .mat-form-field-appearance-legacy .mat-form-field-underline{display:none!important}
.inputstyle .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{transform:inherit;top:-8px}
.inputstyle .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty{display:block!important;transition:none;transform:inherit!important;margin-top:0;padding:initial;top:-8px;left:0}
.inputstyle .mat-form-field-label-wrapper{overflow:inherit}
.inputstyle .mat-form-field-infix input,.inputstyle .mat-form-field-infix mat-select{height:35px;border:1px solid #ddd;padding:0 1%;width:98%;background:var(--c-t-bg-w)}
.inputstyle .mat-form-field-infix textarea{border:1px solid #ddd;width:99%;padding:.5%;background:var(--c-t-bg-w)}
.inputstyle .mat-form-field-appearance-legacy .mat-form-field-wrapper{padding-bottom:0}
.inputstyle .mat-form-field-appearance-legacy .mat-form-field-infix,.inputstyle .mat-form-field-appearance-fill .mat-form-field-infix{padding:5px 0;border:0;margin:0;margin-top:20px;position:relative;padding-bottom:15px}
.inputstyle .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex{background:none;position:relative;top:-10px}
.inputstyle .mat-radio-button{margin-right:10px}
.inputstyle .mat-form-field-underline{display:none}
.inputstyle .mat-form-field-wrapper{position:relative;padding-bottom:0}
.col-1-1{width:99%;padding:0 .5%;display:inline-block}
.col-1-2{width:49%;padding:0 .5%;display:inline-block}
.col-1-3{width:32.3%;padding:0 .5%;display:inline-block}
.col-1-4{width:24%;padding:0 .5%;display:inline-block}
.formstylemainwrapper .mat-list-item{height:auto!important}
.formstylemainwrapper .formbody{border:1px solid #d6d6d6;padding:20px 15px!important;width:auto!important}
.formstylemainwrapper .mat-list-item .mat-list-item-content{padding:0!important}
.formstylemainwrapper .mat-list-item form{width:100%}
.inputstyle.from_wrapper{border-radius:5px}
.formtitle{font-family:'AvenirMedium';font-size:24px!important;width:100%;margin-bottom:40px!important;background:linear-gradient(45deg,var(--c-t-bg-secondary),var(--c-t-alt-links));padding:14px 18px;color:var(--c-t-primary-btn_title);text-transform:uppercase}
.inputstyle .mat-form-field{display:block!important}
.inputstyle mat-label,.inputstyle .mat-form-field-label{font-family:'AvenirMedium'!important;font-size:16px!important;color:#535353!important}
.inputstyle a{color:var(--c-t-links);cursor:pointer;width:fit-content}
.cpass{text-transform:uppercase;text-decoration:underline;top:-8px;display:block;position:relative;line-height:21px}
.checktitle{display:block}
.checkwrapper{display:inline-block;padding-right:10px;padding-top:5px}
.checkwrapper .mat-checkbox-label{text-transform:uppercase}
.formfooter .button_wrapper{display:flex;justify-content:flex-end;margin-top:16px;width:100%}
.formfooter .button_wrapper button{margin-right:10px;width:160px;border-radius:0;padding:3px;background:var(--c-t-primary);color:var(--c-t-bg-w);font-family:'AvenirMedium';font-size:20px}
.formfooter .button_wrapper button:last-child{background:var(--c-t-sub-primary);margin:0}
.inputstyle .mat-form-field-appearance-fill .mat-form-field-flex{padding:0}
.inputstyle .mat-select-trigger{cursor:pointer;position:relative;box-sizing:border-box;display:flex;justify-content:space-between;align-items:center;height:100%}
.inputstyle .mat-form-field-appearance-fill .mat-form-field-underline::before{display:none}
.inputstyle .mat-select-value{overflow:inherit}
.checkradiotitle{display:block}
.inputstyle .mat-radio-button.mat-accent .mat-radio-inner-circle{background-color:var(--c-t-primary)}
.inputstyle .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{border-color:#757575}
.inputstyle .checkradiowrapper mat-radio-button{margin-right:10px;margin-top:7px}
.inputstyle .uploadfilecontainer{width:100%!important}
.inputstyle .pb-20{padding-bottom:20px}



.listingnewstyle{display:block;background-color:#edf1f4;width:100%;overflow:hidden}
.listingnewstyle .main_wrapper{background:var(--c-t-bg-w);box-shadow:0 1px 10px rgba(0,0,0,.30)!important;padding:20px!important}
.listingnewstyle .main_wrapper table{width:100%}
.listingnewstyle .main_wrapper .purchase_quotes td.mat-cell:last-of-type{text-align:inherit}
.listingnewstyle .main_wrapper .purchase_quotes td button{background:var(--c-t-primary);padding:4px;line-height:inherit;margin:0;color:var(--c-t-bg-w);font-family:"AvenirMedium";text-transform:capitalize;border-radius:0}
.listingnewstyle .main_wrapper .purchase_quotes td button:last-child{background:var(--c-t-primary-btn_title);margin-left:5px}
.listingnewstyle .main_wrapper .purchase_quotes th.mat-header-cell:last-of-type,.listingnewstyle .main_wrapper .purchase_quotes td.mat-cell:last-of-type{text-align:center}
.puchase_quotes .mat-form-field-infix{display:flex;width:324px;border:1px solid #d6d6d6;margin:0 3px!important;align-items:center;border-radius:5px}
.listingnewstyle .content_header_wrapper .toolbar_header{font-family:'AvenirLight';font-size:24px!important;text-transform:capitalize;color:#535353}
.listingnewstyle .content_header_wrapper{background:none!important;padding-bottom:0;width:100%;border-bottom:1px solid #566075;margin-bottom:15px!important;padding-left:0;padding-right:0}
.listingnewstyle .container .mat-card{padding:0;box-shadow:none;padding:7px;border:1px solid #d6d6d6;border-radius:0}
.listingnewstyle table.mat-table{box-shadow:none}
.listingnewstyle .container br{display:none}
.listingnewstyle tr.mat-row:nth-child(even){background:var(--c-t-bg-w)}
.listingnewstyle .mat-paginator .mat-select-value-text{color:var(--c-t-bg-w)}
.listingnewstyle .mat-paginator .mat-select-arrow{color:var(--c-t-bg-w)}
.listingnewstyle .mat-paginator{background:var(--c-t-paragraph)!important;color:var(--c-t-bg-w)!important}
.listingnewstyle .mat-paginator .mat-paginator-range-label{margin:0 5px;font-family:'AvenirLight'}
.listingnewstyle .mat-paginator-container{justify-content:center;align-items:center}
.listingnewstyle .mat-paginator-page-size-select{margin:0 4px}
.listingnewstyle tr.mat-header-row{background:var(--c-t-alt-links)}
.listingnewstyle .mat-sort-header-button,.listingnewstyle th.mat-header-cell:last-of-type{font-family:'AvenirRoman';font-size:16px}
.listingnewstyle .mat-table{font-family:'AvenirLight';font-size:14px;color:#465157}
.listingnewstyle .ng-star-inserted .cursor{display:none}
.listingnewstyle .ng-star-inserted .cursor:nth-child(1){display:inline-block;background:var(--c-t-primary);padding:5px;color:var(--c-t-bg-w);margin-right:5px}
.listingnewstyle .ng-star-inserted .cursor:nth-child(1):after{content:'View Details'}
.nodetails .ng-star-inserted .cursor:nth-child(1){display:none}
.listingnewstyle .ng-star-inserted .cursor:nth-child(1) i{display:none}
.listingnewstyle .ng-star-inserted .cursor:nth-child(2){display:inline-block;background:var(--c-t-primary-btn_title);padding:5px;color:var(--c-t-bg-w);margin-right:0}
.listingnewstyle .ng-star-inserted .cursor:nth-child(2):after{content:'Delete'}
.listingnewstyle .ng-star-inserted .cursor:nth-child(2) i{display:none}
.listingnewstyle td.mat-cell:last-of-type{padding-right:0;text-align:right}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-infix{background:var(--c-t-bg-w);border-radius:0;border-top:0}
.listingnewstyle mat-toolbar-row.searchbar .ng-star-inserted mat-form-field .mat-form-field-infix{width:262px}
.listingnewstyle mat-toolbar-row.searchbar .ng-star-inserted mat-form-field{margin-right:5px}
.listingnewstyle mat-toolbar-row.searchbar{background:var(--c-t-primary);padding:13px;justify-content:space-between;height:auto}
.listingnewstyle mat-toolbar-row.searchbar .mat-raised-button.mat-primary{margin:0!important;border-radius:0;background-color:var(--c-t-primary-btn_title);text-transform:capitalize;font-family:'AvenirMedium'!important}
.listingnewstyle .mat-form-field-appearance-legacy .mat-form-field-wrapper{padding-bottom:0}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-label.ng-star-inserted.mat-empty.mat-form-field-empty{display:block!important;width:98%;padding:0 1%;transition:none!important;transform:inherit!important;text-transform:capitalize;font-family:'AvenirMedium'!important}
.listingnewstyle .mat-paginator-page-size{font-family:'AvenirLight'!important;text-transform:capitalize}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-label.ng-tns-c12-2.ng-star-inserted{display:none!important}
.listingnewstyle mat-toolbar-row.searchbar .mat-select-trigger{height:100%}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-label.ng-tns-c12-3.ng-star-inserted{display:none!important}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{display:none!important}
.listingnewstyle mat-toolbar-row.searchbar .mat-select-value{vertical-align:middle}
.listingnewstyle mat-toolbar-row.searchbar .mat-form-field-prefix{position:absolute;right:0;top:50%!important;z-index:9;transform:translate(0%,-50%);border-left:1px solid #00294f;padding-left:5px}
.listingnewstyle .content_header_wrapper .singleButton{min-width:102px;color:var(--c-t-bg-w);text-transform:uppercase;font-size:18px;font-family:'AvenirMedium'!important;text-align:center;text-shadow:0 2px 0 rgba(0,0,0,.30);background:var(--c-t-primary-btn_title)}
.listingnewstyle .mat-form-field-prefix,.mat-form-field-suffix{position:absolute!important;right:0;top:4px}
.listingnewstyle .aslist_view .mat-form-field-flex .mat-datepicker-toggle{position:inherit;right:inherit;top:inherit}

.Login_confirm{width:600px}
.Login_confirm .mat-dialog-container{background:#f2f9ff;border:4px solid #40a2f5;padding:0}

.changepassword{width:550px}
.changepassword .mat-dialog-container{border:4px solid var(--c-t-primary);padding:10px!important;box-sizing:border-box}
.changepassword .mat-dialog-container .modal .mat-dialog-title{font-size:20px;font-family:'AvenirBlack';color:var(--c-t-bg-w);text-align:center;text-transform:uppercase;background:var(--c-t-primary);padding:5px}
.changepassword .mat-dialog-container .modal form{display:flex;flex-direction:column}
.changepassword .mat-dialog-container .mat-dialog-actions{padding:16px;display:flex;flex-wrap:wrap;min-height:inherit;align-items:center;margin-bottom:0;justify-content:flex-end}
.changepassword .mat-dialog-container .mat-dialog-actions button{background:var(--c-t-primary);color:var(--c-t-bg-w);font-family:'AvenirMedium';border-radius:0;font-size:18px}
.changepassword .mat-dialog-container .mat-dialog-actions button:last-child{background:var(--c-t-primary-btn_title)}

.logo_wrapper{cursor:pointer;width:auto;display:block}
.logo_wrapper img{max-width:100%}
.logo_wrapper:focus{outline:none}

.emailModal{width:700px}
.email_wrapper .mat-card-title{font-family:'Avenirmedium';font-size:30px;color:var(--c-t-bg-w);text-align:center;text-transform:uppercase;background:var(--c-t-primary);padding:10px;margin-bottom:16px}
.emailModal .mat-dialog-container{border:2px solid var(--c-t-primary);padding:0}
.email_wrapper{padding:0!important}
.email_wrapper .mat-form-field{width:100%}
.email_wrapper .button_send{background:transparent;height:auto;padding:0;justify-content:flex-end}
.email_wrapper .button_send button{background:var(--c-t-primary);color:var(--c-t-bg-w);font-size:24px;min-width:150px;text-transform:uppercase;border-radius:25px;margin-right:10px}
.email_wrapper .button_send button:last-child{background:var(--c-t-primary-btn_title);margin:0}
.email_wrapper .mat-form-field .mat-form-field-flex{border:1px solid var(--c-t-bg-w);padding:6px 10px}
.email_wrapper .mat-form-field-appearance-legacy .mat-form-field-underline{height:0}
.email_wrapper form{padding:16px}

.clear{ display: block!important; clear: both!important; overflow: hidden!important; margin: 0!important; padding: 0!important;}

.productformcon .mat-select {
  width: 95%;
  margin: 0 auto; 
  padding: 0 2%;
  background: #fff;
  border: solid 1px #bbbfc0;
  margin: 0px auto;
  height: 30px; line-height: 30px;
  font-size: 13px;
  color: #292929; outline: none;
  display: block;  font-family: Arial, Helvetica, sans-serif;
}


.productformcon .mat-select-value {
  display: table-cell;
  max-width: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px; line-height: 30px;
}
.productformcon .mat-select-placeholder {
  color: #292929;
  display: block;
  height: 30px; line-height: 38px;
}



/* form */
.formspan{background-color:#e7e9ea;border:6px solid #fff;border-bottom:10px solid #fff;display:inline-block;width:100%;position:relative;z-index:9;box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.5);}
.formspan .form-field-span,.formspan .mat-form-field{display:block;position:relative;text-align:left;width:98%!important;background:#fff;padding:1px 0!important;margin:0 auto 18px!important}
.formspan .bottompart .mat-raised-button.mat-primary{position:relative!important;font-size:14px!important;text-transform:uppercase!important;border:none!important;padding:6px 10px 10px!important;line-height:18px!important;color:#fff!important;border-radius:0!important;margin:0 2px!important;font-family:'NunitoRegular',sans-serif;background-color:var(--c-t-primary-btn_title)!important;margin-bottom:1%!important;}
.formspan .example-container{display:flex;flex-direction:column;width:98%;padding:14px;margin-bottom:0}
.formspan .example-container,.formspan,.formspan .mat-form-field{box-sizing:border-box;width: 100% !important;}
.formspan .form-field-span, .formspan .mat-form-field {width: 100% !important;}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {padding-bottom: 0 !important;}
.mat-form-field-appearance-legacy .mat-form-field-underline {height: 1px;}
.mat-form-field-appearance-legacy .mat-form-field-underline {background-color: rgba(0,0,0,.42);}
.mat-form-field-appearance-legacy .mat-form-field-underline {bottom: 0 !important;}
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {margin-top: 20px !important;}
.mat-form-field-appearance-legacy .mat-form-field-infix {padding: .4375em 10px !important;}
.cke_chrome {margin-bottom: 20px !important;}

.mat-form-field-appearance-legacy .mat-form-field-label.mat-form-field-empty {top: 0.7em !important;padding-left: 10px;}
.AddEditBlog .formspan label.mat-form-field-label.mat-form-field-empty span {padding-left: 0px;}
.AddEditBlog .formspan label span {padding-left: 10px;}

/* AddEditBlog */

.AddEditBlog .mat_chip {display: block;padding: 0 !important;}
.AddEditBlog .uploadfilecontainer {margin: 10px auto !important;}
.AddEditBlog h1{font-family:'NunitoRegular';font-size:24px!important;margin-bottom:20px!important;background:linear-gradient(45deg,#363636,#08b1e7);text-align:center;padding:14px 18px 18px;color:var(--c-t-bg);text-transform:uppercase}
.AddEditBlog form h1{background:none;color:var(--c-t-bg-zblack);padding: 0 !important;margin: 0;margin-top: 15px;}
.AddEditBlog .mat-card{padding:0!important;background:transparent}
.AddEditBlog .mat-toolbar.mat-primary{font-family:'NunitoRegular';font-size:24px!important;width:100%;margin-bottom:20px!important;background:linear-gradient(45deg,#363636,#08b1e7);padding:14px 18px;color:#fff;text-transform:uppercase}
.AddEditBlog .submitbtn{border-radius:0;background:var(--c-t-primary-btn_title);min-width:64px;margin:0 auto!important;display:block;font-family:'NunitoRegular';font-size:20px}
.AddEditBlog .uploadfilecontainer{width:100%!important;margin:0 auto}
.AddEditBlog .files-view{width:100%!important;margin:10px !important}
.AddEditBlog .files-view .mat-card img{max-width:100%}
.AddEditBlog .files-view .mat-card .mat-card-title{font-size:16px;font-family:'NunitoRegular';width:100%;padding:0 10px;box-sizing:border-box;color:var(--c-t-primary);text-transform:capitalize}
.AddEditBlog .button-group{width:100%!important}

.AddEditBlog .mat-card-actions .mat-raised-button:first-child{position:relative!important;font-size:14px!important;text-transform:uppercase!important;border:none!important;padding:5px 10px 10px!important;line-height:18px!important;color:var(--c-t-bg-black)!important;border-radius:0!important;margin:0 2px!important;font-family:'NunitoRegular',sans-serif;background-color:var(--c-t-bg-w)!important}
.AddEditBlog .button-group .mat-raised-button.mat-primary,.AddEditBlog .mat-card-actions .mat-raised-button.mat-primary{position:relative!important;font-size:14px!important;text-transform:uppercase!important;border:none!important;padding:6px 10px 10px!important;line-height:18px!important;color:#fff!important;border-radius:0!important;margin:0 2px!important;font-family:'NunitoRegular',sans-serif;background-color:var(--c-t-primary-btn_title)!important}
.AddEditBlog .button-group .mat-raised-button.mat-warn,.AddEditBlog .mat-card-actions .mat-raised-button.mat-warn{position:relative!important;font-size:14px!important;text-transform:uppercase!important;border:none!important;padding:5px 10px 10px!important;line-height:18px!important;color:#fff!important;border-radius:0!important;margin:0 2px!important;font-family:'NunitoRegular',sans-serif;background-color:var(--c-t-bg-secondary)}
.AddEditBlog .files-view{height:auto!important;display:flex!important;align-items:stretch!important;flex-wrap:wrap!important;justify-content:center!important;}
.AddEditBlog .files-view .mat-card{flex:1 1 18%!important;display:flex!important;flex-direction:column!important;margin:1%!important;justify-content:center!important;text-align:center!important;border:1px solid #c9c9c9!important;padding:10px!important;flex-wrap:initial!important;margin-top:0!important}
.AddEditBlog .files-view .mat-card .viewUrlwrapper{width:200px;height:200px;display:block;margin:0 auto;background:#fff;position:relative;border-radius:100%;overflow:hidden;border-top:1px solid #d3d4d4;border-left:1px solid #d3d4d4;border-right:5px solid #0eb8ef;border-bottom:7px solid #0eb8ef}
.AddEditBlog .files-view .mat-card .viewUrlcontent .mat-card-content{margin-bottom:5px}
.AddEditBlog .files-view .mat-card .viewUrlwrapper img{max-width:inherit!important;margin:0!important;width:100%!important;object-fit:scale-down!important;height:100%!important;margin-top:0!important}
.AddEditBlog .files-view .mat-card .viewUrlcontent{background-color:#dbdbdb;margin-top:16px;padding-top:10px;border-top:2px solid #1297c1;    flex: 1 !important;}
.AddEditBlog .files-view .mat-card .viewUrlcontent .mat-card-header{justify-content:center}
.AddEditBlog .formspan mat-label{line-height: 18px; font-size: 14px;margin-bottom: 10px;display: block;}

.AddEditBlog .mat-form-field-flex {align-items: center;}
.AddEditBlog .mat-form-field-flex .mat-form-field-prefix, .AddEditBlog .mat-form-field-flex .mat-form-field-suffix{white-space:nowrap;flex:none;position:relative;background-color:var(--c-t-bg-secondary);height:100%;line-height:45px;padding:0 10px;color:#fff;font-size:16px}
.AddEditBlog .mat-form-field-flex .mat-form-field-prefix, .AddEditBlog .mat-form-field-flex .mat-form-field-suffix {top: 0px;}
.AddEditBlog .mat-checkbox:not(.mat-checkbox-disabled).mat-primary .mat-checkbox-ripple .mat-ripple-element {   background-color: var(--c-t-bg-secondary);}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {background-color: #0eb8ef !important;align-items: stretch;}
.mat-chip.mat-standard-chip.mat-chip-selected.mat-primary .clickable {line-height: 24px;background: #f9594d;border-radius: 100%;margin-top: -3px;margin-left: 5px;text-align: center;font-size: 20px;}

.mat-checkbox-checked.mat-primary .mat-checkbox-background, .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {background-color: #f9594d !important;}

.closecard {background: #f9594d !important;border: 1px solid #f9594d !important;}

.AddEditBlog ck-editor {margin-bottom: 15px !important;display: block;}


table.mat-table {width: 100%;}
.AddEditBlog table{margin-bottom:20px;}



@media screen and (max-width: 1620px) {
.listingnewstyle mat-toolbar-row.searchbar{justify-content:center!important;flex-wrap:wrap;height:auto}
.listingnewstyle mat-toolbar-row.searchbar mat-form-field{margin:0 5px 5px 0}
}
@media screen and (max-width: 1560px) {
.dashboardcontainer{width:90%}
}
@media screen and (max-width: 1300px) {
.dashboardcontainer{width:94%}
}
@media screen and (max-width: 991px) {
.block2content .mat-list-item .mat-list-item-content{justify-content:center;flex-wrap:wrap}
}
@media screen and (max-width: 1199px) {
.main_wrapper .main_dashboard .mat-list-item .mat-list-item-content{display:flex;flex-direction:column}
.searchwrapper .mat-form-field-infix{width:260px}
.nav_wrapper .listing_container a .mat-list-item-content{justify-content:center;padding:0}
}
@media screen and (max-width: 991px) {
.block2content .mat-list-item-content{display:flex;flex-direction:column}
}
@media screen and (max-width: 870px) {
.searchwrapper .mat-form-field-infix{width:210px}
}
.formmainwrapper .file_uploader .uploadtextwrapper{font-family:'AvenirMedium'}

@media screen and (max-width: 960px) {
.mat-table{border:0;vertical-align:middle}
.mat-table caption{font-size:1em}
.mat-table .mat-header-cell{border:10px solid;clip:rect(0 0 0 0);height:1px;margin:-1px;padding:0;position:absolute;width:1px}
.mat-table .mat-row{border-bottom:5px solid #ddd;display:block;height:auto}
.mat-table .mat-cell,.mat-table .mat-footer-cell{border-bottom:1px solid #ddd;display:block;font-size:1em;text-align:right;font-weight:700;height:30px;margin-bottom:1%;padding-left:0}
.mat-table .mat-cell:before{content:attr(data-label);float:left;text-transform:uppercase;font-weight:400;font-size:.85em}
.mat-table .mat-cell:last-child{border-bottom:0;padding:0}
.mat-table .mat-cell:first-child{margin-top:4%;padding-left:0}
}
@media screen and (max-width: 620px) {
.addlistingInventory_button_wrapper{display:flex;flex-wrap:wrap}
}
@media screen and (max-width: 576px) {
.formstylemainwrapper .col-1-3{width:100%;margin:0}
}
.uploadfilecontainer{box-sizing:border-box}
.mat-dialog-container{padding:0!important}
.modal_wrapper{width:100%;margin-bottom:0!important}
.modal_wrapper .modal_para{background:linear-gradient(0deg,#052f5d,#04f7f9);min-height:170px;padding:20px;margin-bottom:0}
.modal_wrapper .modal_para .icon{width:150px;height:150px;border-radius:50%;display:flex;overflow:hidden;margin:auto}
.modal_wrapper .modal_para .icon img{max-width:100%;object-fit:cover;object-position:center}
.modal_wrapper .modal_para h1{font-family:'AvenirMedium';text-shadow:1px 1px 1px #807b0f;font-size:24px;text-transform:uppercase;text-align:center;color:var(--c-t-bg-w)}
.modal_wrapper .login_button button{background:#01274a;color:var(--c-t-bg-w);border-radius:0;font-family:"AvenirMedium";font-size:20px;min-width:140px}
.modal_wrapper .login_button button:last-child{background:#13b3f3;margin-left:10px}
.login_button{display:flex;min-height:120px;align-items:center;justify-content:center;background:#e6e6e6}



.AddEditBlog lib-addedit-blogmanagement .mat-card{padding:0!important}
.AddEditBlog .mat-toolbar.mat-primary{font-family:'AvenirMedium';font-size:24px!important;width:100%;margin-bottom:40px!important;background:linear-gradient(45deg,var(--c-t-bg-secondary),var(--c-t-alt-links));padding:14px 18px;color:var(--c-t-primary-btn_title);text-transform:uppercase}
.AddEditBlog lib-addedit-blogmanagement h1{color:var(--c-t-primary);font-family:'AvenirMedium';font-size:24px}
.AddEditBlog lib-addedit-blogmanagement .submitbtn{border-radius:0;background:var(--c-t-primary-btn_title);min-width:165px;margin:0 auto!important;display:block;font-family:'AvenirMedium';font-size:20px}
.AddEditBlog lib-addedit-blogmanagement .uploadfilecontainer{width:100%!important;margin:0 auto}
.AddEditBlog lib-addedit-blogmanagement .files-view{width:100%!important;margin:16px}
.AddEditBlog lib-addedit-blogmanagement .files-view .mat-card img{max-width:100%}
.AddEditBlog lib-addedit-blogmanagement .files-view .mat-card .mat-card-title{font-size:16px;font-family:'AvenirMedium';width:100%;padding:0 10px;box-sizing:border-box;color:var(--c-t-primary);text-transform:capitalize}
.AddEditBlog lib-addedit-blogmanagement .button-group{width:100%!important}
.formspan .example-container,.formspan,.formspan .mat-form-field{width:100%!important;box-sizing:border-box}

.login_wrapper{overflow: hidden;}
.login_wrapper .mat-form-field-flex {background: var(--c-t-bg-w);}
.login_wrapper .mat-form-field-appearance-legacy .mat-form-field-underline {height: 1px;display: none;}
.signupfooter a{font-family: var(--main-font); font-size: var(--base-font-size);color:var(--c-t-bg-w);}
.signupfooter a:last-child{padding-right: 0px !important;}
.login_wrapper .mat-form-field-appearance-legacy .mat-form-field-label span{color:var(--c-t-bg-zblack); font-family: var(--main-font); font-size: var(--base-font-size);     padding-left: 2%;}
.login_wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {height: 36px;}
.login_wrapper .from {padding: 16px 42px;}
.login_wrapper input.mat-input-element {padding-left: 2%; width: 98%; height: 36px;}
.login_wrapper .mat-form-field-appearance-legacy .mat-form-field-wrapper {padding-bottom: 10px;padding-top: 10px;}
.login_wrapper .mat-form-field-subscript-wrapper .mat-error{margin-top: 5px;}
.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
  display: block;
  transition: none;
  padding-top: 5px;     color: #111;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  top: 1.5em;
}
#maincontent{background:url(../images/bodyBg.png) repeat #fff;margin-left:0;margin-right:0;margin-top:20px;padding:0 25px 25px;position:relative;min-height:465px;width:auto}
#beadcamb {
   
  background: #49cced;
  position: relative;
  clear: both;
  display: block;
  padding: 2px;
}

@media screen and (max-width: 1666px) {
  .userimage {right: -56%;width: 430px;}
}
@media screen and (max-width: 1600px) {
.userimage {right: -50%;width: 390px;}
}
@media screen and (max-width: 1360px) {
.userimage {right: -40%;width: 328px;}
}
@media screen and (max-width: 1199px) {
.userimage{display: none;}
.login_wrapper .from{padding: 16px;}
}

@media screen and (max-width: 700px) {
.col-1-2,.col-1-3,.col-1-4{width:100%;padding:0}
.login_lib_wrapper {width: 94%;}
.from a {padding-right: 0 !important;padding-top: 10px;}
}
@media screen and (max-width: 640px) {
  .login_lib_wrapper .from h2 {font-size: 55px;}
  .signupfooter {flex-wrap: wrap;}
  .login_wrapper .from {padding: 16px;width: 90% !important;display: block;}
  .login_lib_wrapper .example-container button {line-height: 24px;font-size: 22px;}
}
@media screen and (max-width: 480px) {
  .signupfooter a {text-align: left;}
  .login_lib_wrapper .from h2 {font-size: 32px;margin-bottom: 15px;}
}