<div class="adminwrappercls">
    <app-adminheader></app-adminheader>
    <!-- <div id="beadcamb">
      
    </div> -->
    <mat-card class="breadcrumbs-top">
      <h3 class="page-header-title">Welcome <span>Sourav Ghatak</span></h3>
      <mat-card-content class="breadcrumb-wrapper">
        <mat-list class="breadcrumb">
          <mat-list-item class="breadcrumb-item"><a [routerLink]="['/dashboard']"><span class="material-icons">home</span></a>
          </mat-list-item>
          <mat-list-item class="breadcrumb-item active">Admin List
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <div id="maincontent">
      <div class="main-content-wrap">
        <mat-card class="generalcls" style="padding: 0 !important;">          
          <div class="content_header_wrapper">
              <h2 class="headerSpan">Admin List</h2>
              <div class="buttonsetToolbar">
                  <button class="singleButton btnblue" mat-raised-button color="primary" [routerLink]="['/admin/add']">Add Admin</button>
              </div>            
          </div>
            
            <div class="listingnewstyle">
                <lib-listing *ngIf="adminDataList!=null && adminDataList.length>0" 
    [datasource]="adminDataList"
    [skip]="adminDataList_skip"
    [modify_header_array]="modify_header_array"
    [apiurl]="apiurl"
    [deleteendpoint]="deleteendpoint"
    [updateendpoint]="updateendpoint"
    [date_search_source]="date_search_source"
    [date_search_endpoint]="date_search_endpoint"
    [sourcedata]="tablename"
    [detail_datatype]="adminDataList_detail_datatype"
    [editroute]="editroute"
    [statusarr]="statusarray"
    [detail_skip_array]="adminDataList_detail_skip"
    [url]="custom_link"
    [jwttoken]="jwttoken"
    [search_settings]="search_settings"
    [searchendpoint]="searchendpoint"
    [libdata]="libdata"
    [sortdata]="sortdata"
    [datacollection]="datacollection"
    [date_search_source_count]="date_search_source_count"
    [limitcond]="limitcond"></lib-listing>
            
            </div>

        </mat-card>
      </div>
    </div>    
</div>
<app-footer></app-footer>

