/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@font-face {
    font-family: 'NunitoLight';
    src: url('assets/fonts/Nunito-Light.eot');
    src: url('assets/fonts/Nunito-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Nunito-Light.woff2') format('woff2'),
        url('assets/fonts/Nunito-Light.woff') format('woff'),
        url('assets/fonts/Nunito-Light.ttf') format('truetype'),
        url('assets/fonts/Nunito-Light.svg#Nunito-Light') format('svg');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NunitoBlack';
    src: url('assets/fonts/Nunito-Black.eot');
    src: url('assets/fonts/Nunito-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Nunito-Black.woff2') format('woff2'),
        url('assets/fonts/Nunito-Black.woff') format('woff'),
        url('assets/fonts/Nunito-Black.ttf') format('truetype'),
        url('assets/fonts/Nunito-Black.svg#Nunito-Black') format('svg');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NunitoBold';
    src: url('assets/fonts/Nunito-Bold.eot');
    src: url('assets/fonts/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Nunito-Bold.woff2') format('woff2'),
        url('assets/fonts/Nunito-Bold.woff') format('woff'),
        url('assets/fonts/Nunito-Bold.ttf') format('truetype'),
        url('assets/fonts/Nunito-Bold.svg#Nunito-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NunitoRegular';
    src: url('assets/fonts/Nunito-Regular.eot');
    src: url('assets/fonts/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Nunito-Regular.woff2') format('woff2'),
        url('assets/fonts/Nunito-Regular.woff') format('woff'),
        url('assets/fonts/Nunito-Regular.ttf') format('truetype'),
        url('assets/fonts/Nunito-Regular.svg#Nunito-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NunitoExtraBold';
    src: url('assets/fonts/Nunito-ExtraBold.eot');
    src: url('assets/fonts/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Nunito-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/Nunito-ExtraBold.woff') format('woff'),
        url('assets/fonts/Nunito-ExtraBold.ttf') format('truetype'),
        url('assets/fonts/Nunito-ExtraBold.svg#Nunito-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
  }
  
  :root {
    --c-t-bg-w: #fff;    
    --c-t-bg-secondary: #F9594D;    
    --c-t-alt-links: #03AAE0;    
    --c-t-primary-btn_title: #0FA1D2;
    --c-t-bg-black: #0d0d0d;
    --c-t-bg-zblack: var(--c-t-bg-zblack);
    --c-t-bg: #dce5ea;
    --c-t-sub-primary: #fff;
    --c-t-primary: #0C4E66;
    --c-t-secondary: #0b5746;
    --c-t-paragraph: #797a7b;
    --c-t-links: #005d40;
    --c-t-long-para: #002346;
    --c-t-deepgray-bg: #222f3d;  
  }
  
  * {  
    /* Typography */
    --font-family-base: 'NunitoRegular';
    --main-font: 'NunitoRegular';
    --main-bold-font: 'NunitoBold';
    --main-extrabold-font: 'NunitoExtraBold';
    --main-light-font: 'NunitoLight';
    --main-black-font: 'NunitoBlack';
    --base-font-size:18px;
  
    /* Calculation */
    /* --responsive: calc((var(--min-font) * 1px) + (var(--max-font) - var(--min-font)) * ((100vw - 320px) / (1200 - 320)));  */
  }
  
  
  
html,body{height:100%;}
body { margin: 0; font-family: "NunitoRegular"; }  
.topmenulist .navigation-left .mat-list-item .mat-list-item-content{padding: 0 0!important;}
.topmenulist .activemenu, .topmenulist .navigation-left a:hover {color: #08b1e7;}
.topmenulist .activemenu.cdk-focused {background: none !important;}
.activemenu a {color: #08b1e7!important;}
.mat-card{box-shadow: none !important;border-radius: 0 !important;}
.listingnewstyle .tablewrapper tr th span{display: flex;align-items: center;}
.generalcls.mat-card{background-color: transparent;}

.mat-select{font-family: var(--main-font);}
.mat-card {font-family: var(--main-font),sans-serif;}
.mat-form-field {line-height: 18px !important;}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {padding-left: 14px;}


/* mat-table-column-width */

.listingnewstyle mat-toolbar-row.searchbar .mat-form-field {min-width: 270px;}

.listingnewstyle th.mat-header-cell.mat-column-Actions{position: sticky;right: 0; background: var(--c-t-alt-links);}
.listingnewstyle td.mat-column-Actions{position: sticky;right: 0;background: #f2f2f2 !important;}
.listingnewstyle tr:nth-child(even) td.mat-column-Actions{position: sticky;right: 0;background: var(--c-t-bg-w) !important;}

.listingnewstyle th.mat-header-cell.mat-column-blogtitle{position: sticky;left: 36px; background: var(--c-t-alt-links);}
.listingnewstyle td.mat-column-blogtitle{position: sticky;left: 36px;background: #f2f2f2 !important;}
.listingnewstyle tr:nth-child(even) td.mat-column-blogtitle{position: sticky;right: 0;background: var(--c-t-bg-w) !important;}

.listingnewstyle th.mat-header-cell.mat-column-select{position: sticky;left: 0; background: var(--c-t-alt-links);}
.listingnewstyle td.mat-column-select{position: sticky;left: 0;background: #f2f2f2 !important;}
.listingnewstyle tr:nth-child(even) td.mat-column-select{position: sticky;left: 0;background:var(--c-t-bg-w) !important;}

.mat-column-firstname{min-width: 120px !important;}
.mat-column-lastname{min-width: 120px !important;}
.mat-column-email{min-width: 250px !important;}
.mat-column-phone{min-width: 94px !important;}
.mat-column-city{min-width: 78px !important;}
.mat-column-state{min-width: 100px !important;}
.mat-column-zip{min-width: 64px !important;}
.mat-column-state_search{min-width: 100px !important;}
.mat-column-select{padding:5px 10px !important;}
.mat-column-_id{min-width: 200px !important;}
.mat-column-order_id{min-width: 210px !important;}
.mat-column-shipping_address{min-width: 215px !important;}
.mat-column-billing_address{min-width: 215px !important;}
.mat-column-shipping_name{min-width: 140px !important;}
.mat-column-shipping_name{min-width: 140px !important;}
.mat-column-shipping_phone{min-width: 118px !important;}
.mat-column-billing_name{min-width: 130px !important;}
.mat-column-billing_phone{min-width: 105px !important;}
.mat-column-product_qty{min-width: 105px !important;}
.mat-column-product_subtotal{min-width: 145px !important;}
.mat-column-product_total{min-width: 118px !important;}
.mat-column-product_price{min-width: 118px !important;}
.mat-column-autoship_data{min-width: 118px !important;}
.mat-column-has_autoship{min-width: 118px !important;}
.mat-column-order_status{min-width: 118px !important;}
.mat-column-ordered_date{min-width: 108px !important;}
.mat-column-transactionid {min-width:146px !important;}
.mat-column-transactiontype{min-width: 138px !important;}
.mat-column-ordered_on{min-width: 110px !important;}
.mat-column-sales_tax{min-width: 110px !important;}
.mat-column-blogtitle{min-width: 200px !important;}
.mat-column-blogtitle span{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:20px}
.mat-column-blogcategory{min-width: 140px;}
.mat-column-website{min-width: 170px !important;}
.mat-column-website span{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:20px}
.mat-column-date_added{min-width: 80px !important;}
.mat-column-author{min-width: 150px !important;}
.mat-cell {word-wrap: break-word !important;white-space: unset !important;overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;  -ms-hyphens: auto;-moz-hyphens: auto;-webkit-hyphens: auto;hyphens: auto;}
.mat-column-description_html {min-width: 220px !important;}
.mat-column-description_html span{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:20px}
.mat-column-tags {min-width: 200px !important;}
.mat-column-tags span{overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;line-height:20px}
  
/*.mat-form-field-appearance-outline .mat-form-field-outline {color: white;}
input.mat-input-element {color: white;}
::ng-deep .mat-focused .mat-form-field-label {color: green !important;}
::ng-deep.mat-form-field-underline {background-color: green !important;} 
::ng-deep.mat-form-field-ripple {background-color: green !important;} */

app-order-listing .mat-column-Actions span span.cursor:nth-child(2){display:none}

/* media css */


@media screen and (max-width: 1199px) {
  .listingnewstyle mat-toolbar-row.searchbar .mat-form-field {min-width: 257px;}
  .listingnewstyle mat-toolbar-row.searchbar span {flex: 1 1 100%;flex-wrap: wrap;display: inline-flex;}
}


@media screen and (max-width: 991px) {
.listingnewstyle th.mat-header-cell.mat-column-Actions{display: none;}
.listingnewstyle td.mat-column-Actions{position: inherit;right: 0;background: #f2f2f2 !important;}
.listingnewstyle tr:nth-child(even) td.mat-column-Actions{position: inherit;right: 0;background: var(--c-t-bg-w) !important;}
.listingnewstyle th.mat-header-cell.mat-column-blogtitle{position: inherit;left: 36px; background: transparent;}
.listingnewstyle td.mat-column-blogtitle{position: inherit;left: 36px;background: #f2f2f2 !important;}
.listingnewstyle tr:nth-child(even) td.mat-column-blogtitle{position: inherit;right: 0;background: var(--c-t-bg-w) !important;}
.listingnewstyle th.mat-header-cell.mat-column-select{display: none;}
.listingnewstyle td.mat-column-select{position: inherit;left: 0;background: #f2f2f2 !important;}
.listingnewstyle tr:nth-child(even) td.mat-column-select{position: inherit;left: 0;background:var(--c-t-bg-w) !important;}
.topmenulist .navigation-left .mat-list-item .mat-list-item-content{justify-content: center;padding: 0 0!important;height: 100%;}
.mat-column-select {padding: 5px 5px !important;}
}